.MyNavbar {
    background: linear-gradient(0deg, rgba(40, 40, 40, 0.8) 0%, rgba(46, 46, 46, 0.5) 100%);
    
    justify-content: center;
}


  .MyNavbar .nav-link {
    font-size: 1.2rem; 
    color: white ;
    margin: 0 15px;
    text-align: center;
    transition: transform 0.2s ease, text-shadow 0.2s ease, border 0.2s ease;
  }

  .MyNavbar .nav-link:hover {
    transform: scale(1.1); 
    text-shadow: 1px 1px 2px black; 

  }

  .MyNavbar .nav-link.active {
    color: white;
  }

  .MyNavbar .navbar-toggler {
    border-color: white;
  }
  
  .MyNavbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .MyNavbar .navbar-toggler:hover {
    transform: scale(1.1);  
    transition: transform 0.3s ease;  
    background-color: rgba(255, 255, 255, 0.1);  
    border-color: white;  
  }